h2, h4 {
    font-family: 'Helvetica', sans-serif;
    color: seashell;
}
body {
    background-color: black;
    margin: 0;
}

#logo {
    height: 50px;
}

.header {
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 25px;
}

nav ul li:last-child {
    margin-right: 5px;
}

nav li a {
    color: seashell;
    font-family: 'Helvetica', sans-serif;
    font-size: 22px;
}

.container {
    display: flex;
    justify-content: center;
    opacity: 0.9;
}

.mission {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    height: 700px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-overlay {
    background-color: black;
    width: 1200px;
    text-align: center;
}

.tea-heading {
    height: 109px;
    width: 1000px;
    text-align: center;
    margin-top: 50px;
}